<h1><%= "#{@user.username}" %>'s Homepage</h1>
<table>
  <tr>
    <th></th>
    <th>Your Created Characters</th>
  </tr>
  <tr>
    <th>Character</th>
    <th>Story</th>
    <th>Date Created</th>
  </tr>
<% @user.characters.each do |character| %>
    <tr>
    <td><%= link_to character.name, character_path(character.id) %></td>
    <td><%= link_to character.story.name, story_path(character.story_id) %></td>
    <td><%= character.created_at.strftime("%B %e, %Y") %></td>
    </tr>
<% end %>
</table>

<table>
  <tr>
    <th></th>
    <th>Your Created Stories</th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Summary</th>
    <th>Date Created</th>
  </tr>
<% @user.stories.each do |story| %>
    <tr>
    <td><%= link_to story.name, story_path(story.id) %></td>
    <td><%= story.summary %></td>
    <td><%= story.created_at.strftime("%B %e, %Y") %></td>
    </tr>
<% end %>
</table>