<h2>Create a New Story</h2>
<%= form_for(@story) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :summary %>
    <%= f.text_area :summary %>
    <br><br>
    <%= f.label :story_outline %>
    <%= f.text_area :story_outline %>
    <br><br>
    <%= f.label :passcode %>
    <%= f.password_field :passcode %>
    <br><br>
    <%= f.submit "Create Story" %>
<% end %>