<h1><%= @story.name %></h1>
<h2>An Adventure by: <%= @story.user.username %></h2>

<div><%= @story.summary %></div>

<!-- <div>Your Character: <%= @story.user.characters.first.name %></div> -->
<div>
Journal Entries<br>
<% @story.journals.reverse.each do |journal| %>
    <%= journal.created_at.strftime("%B %e, %Y at %I:%M %p") %><br>
    <%= journal.content %><br><br>
<% end %>
</div>

<p><%= link_to "See all characters", story_characters_path(@story.id) %></p>
<p><%= link_to "Add a Journal Entry for this Story.", new_story_journal_path(@story.id) %></p>