<% if params[:user_id] %>
  <h2><%= "#{current_user.username}'s Adventurers!" %></h2>
<% elsif params[:story_id] %>
  <h2><%= "The Adventurers of #{@story.name}" %></h2>
<% else %>
  <h2>All Adventurers</h2>
<% end %>
<table>
<tr>
  <th>Name</th>
  <th>Description</th>
  <th>Story</th>
</tr>
<% @characters.each do |character| %>
<tr>
  <td><%= link_to character.name, character_path(character.id) %></td>
  <td><%= character.description %></td>
  <td><%= link_to character.story.name, story_path(character.story_id) %></td>
</tr>
<% end %>
</table>