<h2>New Character</h2>

<%= render partial: "layouts/errors", locals: {object: @character} %>

<%= form_for(@character) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :species %>
    <%= f.text_field :species %>
    <br><br>
    <%= f.label :role %>
    <%= f.text_field :role %>
    <br><br>
    <%= f.label :level %>
    <%= f.text_field :level %>
    <br><br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br><br>
    <%= f.label :story %>
    <%= f.collection_select :story_id, Story.all, :id, :name %>
    <br><br>
    <%= f.label "Story Passcode" %>
    <%= f.password_field :passcode %>
    <br><br>
    <%= f.submit "Create Character" %>
<% end %>