<% if @journal.story %>
<h2>New Journal Entry for <%= @journal.story.name %></h2>
<% else %>
<h2>New Journal Entry</h2>
<% end %>

<%= render partial: "layouts/errors", locals: {object: @journal} %>

<%= form_for([@journal.story, @journal]) do |f| %>

    <%= f.label :content %><br>
    <%= f.text_area :content %>
    <br><br>
    <% if !@journal.story %>
        <%= f.label :story %>
        <%= f.collection_select :story_id, Story.all, :id, :name %>
    <% else %>
        <%= f.hidden_field :story_id %>
    <br><br>
    <% end %>
    <%= f.submit "Create Journal Entry" %>
<% end %>