<!DOCTYPE html>
<html>
  <head>
    <title>Storybuilder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if !logged_in? %>
        <%= link_to "Create an Account", signup_path %> |
        <%= link_to "Log In", login_path %>
      <% else %>
        <%= link_to "Create a Story", new_user_story_path(current_user.id) %> |
        <%= link_to "All Stories", stories_path %> |
        <%= link_to "Create a New Character", new_user_character_path(current_user.id) %> |
        <%= link_to "Logout", logout_path, method: :delete %>
      <% end %>
    </div>

    <div>
      <br>
      <% if flash[:message] %>
        <%= flash[:message] %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
